.Button {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 26px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  @media screen and (max-width: 1025px) {
    padding: 18px 22px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}